
.Icon {
  margin: 1rem 1rem;
  font-size: 50px;
  color:white;
}

.Screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 0;
  background-color: #0b4abd;
}

.Message {
  font-size: 50px;
  color: whtie;
}

.message-enter {
  opacity: 0;
  transform: scale(0.9);
}
.message-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s, transform 1s;
}
.message-exit {
  opacity: 1;
}
.message-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s, transform 1s;
  display: none;
}