
.Icon {
  margin: 1rem 1rem;
  font-size: 50px;
  color:white;
}

.Screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 0;
  text-align: center;
  background-color: #0b4abd;
}
