
.Icon {
  margin: 1rem 1rem;
  font-size: 50px;
  color:white;
}

.Screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 0;
  background-color: #0b4abd;
}

.fadeIn {
  width: auto;
  display: block;
  opacity: 1;
  width: 250px;
  height: 250px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.fadeOut{
  width: auto;
  display: block;
  display: flex;
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s, height 0.5s, opacity 0s 0s;
}

.Message {
  font-size: 50px;
  color: whtie;
}